<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Weixin-java-tool-suite" verbose="1">
  <test name="API_Test">
    <classes>
      <class name="api.com.ossez.wechat.oa.WxMpBusyRetryTest"/>
      <class name="me.chanjar.weixin.mp.api.WxMpBaseAPITest"/>
      <class name="impl.api.com.ossez.wechat.oa.WxMpMassMessageServiceImplTest"/>
      <class name="impl.api.com.ossez.wechat.oa.WxMpUserServiceImplTest"/>
      <class name="impl.api.com.ossez.wechat.oa.WxMpQrcodeServiceImplTest"/>
      <class name="me.chanjar.weixin.mp.api.WxMpShortUrlAPITest"/>
      <class name="api.com.ossez.wechat.oa.WxMpMessageRouterTest"/>
      <class name="api.com.ossez.wechat.oa.WxMpJsAPITest"/>
      <class name="me.chanjar.weixin.mp.api.WxMpMiscAPITest"/>
    </classes>
  </test>

  <test name="Bean_Test">
    <classes>
      <class name="kefu.bean.com.ossez.wechat.oa.WxMpKefuMessageTest"/>
      <class name="message.bean.com.ossez.wechat.oa.WxMpXmlMessageTest"/>
      <class name="message.bean.com.ossez.wechat.oa.WxMpXmlOutImageMessageTest"/>
      <class name="message.bean.com.ossez.wechat.oa.WxMpXmlOutMusicMessageTest"/>
      <class name="message.bean.com.ossez.wechat.oa.WxMpXmlOutNewsMessageTest"/>
      <class name="message.bean.com.ossez.wechat.oa.WxMpXmlOutVideoMessageTest"/>
      <class name="message.bean.com.ossez.wechat.oa.WxMpXmlOutVoiceMessageTest"/>
      <class name="message.bean.com.ossez.wechat.oa.WxMpXmlOutTextMessageTest"/>
    </classes>
  </test>
</suite>
