<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Weixin-java-tool-suite" verbose="1">
  <test name="Bean_Test">
    <classes>
      <class name="com.ossez.wechat.common.model.WeChatAccessTokenTest"/>
      <class name="com.ossez.wechat.common.model.WxMenuTest"/>
      <class name="com.ossez.wechat.common.util.crypto.WxCryptUtilTest"/>
      <class name="com.ossez.wechat.common.api.WxMessageInMemoryDuplicateCheckerTest"/>
      <class name="com.ossez.wechat.common.session.SessionTest"/>
    </classes>
  </test>
</suite>
